extends layout

block content
  form(action="/addQuestion" method="post")
    div
      label Question:
      input(type="text" name="question" required)
      br
    div
      label Domain:
      select(name="domain" required)
        option HTML5
        option CSS
        option JavaScript
      br
    #answers
      label Answers: Tick the correct one
      br
      input(type="text" class="lastAnswer" name="answer" required)
      br

    input.invisible(type="text" name="correctId" id="correctId")
    input.invisible(type="text" name="answersList" id="answersList")
    button(type='submit' id="addQuestionButton") Ajouter
      img(src="images/pin.png")

  form(action='/addAllQuestions')
    button(type='submit') Ajouter toutes les questions
      img(src="images/pin.png")
