extends layout

block content
  form(action="/addQuestion" method="post")
    div
      label Question:
      input(type="text" name="question")
      br
    div
      label Domain:
      select(name="domain")
        option HTML5
        option CSS
        option JavaScript
      br
    div
      label Answers:
      input(type="text" class="lastAnswer" name="answer")
      input(type="radio" name="correct")
      br
  form(action='/addAllQuestions')
    button(type='submit') Ajouter toutes les questions
      img(src="images/pin.png")
