extends layout

block content
  h1 Tableau de bord
  div.dashboardContent(ng-controller="DashboardController as ctrl")
    div.exam
      article
        form(action=('/questionTest'))
          fieldset
            legend Test Rapide
          button(name='quickTestButton', type='submit') Commencer
            img(src='images/pin.png')
      article
        form.getExam(ng-submit="submitExam()")
          fieldset
            legend Exam
            label(for='testDomain') Domaines
            select#domainSelect(name="testDomain", multiple, ng-model="selected", ng-change="onDomainChanged()")
              each val, name in {html: 'HTML5' ,css: 'CSS3' ,javascript: 'JavaScript'}
                option.selectOptions(name = name)=val
            br
            label(for="questionNumber") Nombre de questions:
            br
            input#questionCount(type="range", step="1", min="1", max='{{maxQuestionCount}}', name='numQuestionSelected', ng-model="selectedQuestionCount", ng-change="onQuestionCountChanged()", disabled)
            span#selectedQuestionCount {{selectedQuestionCount}}
            | /
            span#maxQuestionCount {{maxQuestionCount}}
            br
            button#finalTestButton(type="submit" disabled)
              img(src="images/pin.png")
              | Commencer
      article.shifted
        h2 Modifier la base de questions
        a(href='/addQuestion')
          button#finalTestButton
            img(src="images/pin.png")
            | Ajouter des questions

    aside(ng-controller="QuickTestController")
      h1 Statistiques
      p
        span#testStats Note cumulative tests : {{getCorrectAnswers()}}/{{getAnsweredQuestions()}}
        br
        | Examens pass&#233;s :
        span#examCount 0
        br
        span#examAverage Moyenne des examens: 0% (0/0)
        br
        a(href="#details")
          button(name="getDetails")
            | Details
            img(src="images/pin.png")
        button#resetStats
          | R&#224;Z
          img(src="images/pin.png")

  #details.modal
    figure
      a.closemodal(href="#")
      figcaption
        h1 Details
        table#detailsTable
          tr
            th Examen
            th Note
            th Domaines
