extends layout

block content
  section
    img(src="images/scotch.png")
    h1 Comment utiliser Chteumeulearn ?
    p
      img.float-right(src="images/howto.png")
      | Nous pr&#233;sentons dans cette section les diff&#233;rentes contraintes du site web.
    p
      | Nous pr&#233;sentons dans cette section les principes de fonctionnement du questionnaire, afin de vous fournir une vision globale de ce que vous devrez impl&#233;menter tout au long du trimestre.
    p
      | La page centrale du site correspond au tableau de bord de l&#8217;utilisateur. Le tableau de bord donne la possibilit&#233; &#224; l&#8217;utilisateur d&#8217;effectuer des tests rapides ou un examen officiel. Il contient &#233;galement diverses informations sur les r&#233;sultats des tests de l&#8217;utilisateur tels que le nombre de tests rapides r&#233;ussis sur le nombre de tests rapides effectu&#233;s, et la moyenne des examens.
    p
      | Les examens officiels permettent de tester officiellement les connaissances de l&#8217;utilisateur. &#192; c&#244;t&#233; du bouton qui d&#233;bute l&#8217;examen, l&#8217;utilisateur devra rentrer les param&#232;tres de l&#8217;examen. Ces param&#232;tres peuvent correspondre au domaine dans lequel il d&#233;sire se faire &#233;valuer (HTML, CSS ou Javascript) et le nombre de questions que devra contenir l&#8217;examen. Les pages de tests rapides et d&#8217;examens sont tr&#232;s similaires.
    p
      | La page de test rapide contient la question, ainsi qu&#8217;un choix multiple de r&#233;ponses &#224; la question (des boutons radio ou des cases &#224; cocher). L&#8217;utilisateur a le choix de retourner au menu (sans avoir besoin de r&#233;pondre &#224; la question), ou de r&#233;pondre &#224; la question et de cliquer sur le bouton suivant. S&#8217;il clique sur le bouton suivant, une nouvelle question &#224; laquelle l&#8217;utilisateur doit r&#233;pondre s&#8217;affiche, et ainsi de suite.
    p
      | La page d&#8217;examen ressemble &#233;norm&#233;ment &#224; la page de test rapide. Nous retrouvons une question avec les r&#233;ponses possibles. Ensuite, l&#8217;utilisateur a le choix d&#8217;abandonner l&#8217;examen (en cons&#233;quence, il aurait une note de 0 pour cet examen), ou de r&#233;pondre &#224; la question et d&#8217;aller &#224; la question suivante.
