extends layout

block content
  section
    img(src='images/scotch.png')
    h1
      | Bienvenue sur
      br
      | Chteumeulearn !
    p
      | Ce site web permet au gens de tester leurs connaissances théoriques sur les technologies du Web 2.0.
    p
      | L'ensemble des questions qui seront posées porteront sur HTML5, CSS3 et Javascript.
    a(href='/dashboard')
      button(name='startButton')
        img(src='images/pin.png')
        | Commencer