doctype html
html(ng-app="chteumeulearn")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='images/icon.png', type='image/png', rel='icon')
    meta(charset='UTF-8')
    script(src='javascripts/jquery.js', type='text/javascript')
    //-script(src='javascripts/jscript.js', type='text/javascript')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js')
    script(src='javascripts/dashboard.js', type='text/javascript')
    script(src='javascripts/quickTest.js', type='text/javascript')
    script(src='javascripts/examen.js', type='text/javascript')
    script(src='javascripts/results.js', type='text/javascript')
    script(src='javascripts/aside.js', type='text/javascript')

  body

    header
      nav
        a(href='/')
          div.logo
        ul
          li.home
            a(href='/') Accueil
          li.dashboard
            a.dashboard(href='/dashboard') Tableau de bord
          li.info
            a.info(href='/howto') Instructions

    section
      img(src='images/scotch.png')
      block content

    footer
      p
        | Asenjo Villamayor, Javier 1762503
        br
        | Hudin, Gwenegan 1756642