extends layout

block content
  block questionHeader
    block questionFooter

  aside
    p#result
    hr
    p
      div(ng-controller="AsideController")
        span#testStats Note cumulative tests : {{countCorrectAnswer}}/{{answeredQuestionsTest}}
        br
        | Examens pass&#233;s :
        span#examCount {{totalCountExams}}
        br