extends questionLayout

block questionHeader
  h1 Test Rapide
  h2 #{randomQuestion.domain}
  article
    #questionTest #{randomQuestion.question}
    br
    span R&#233;ponses:
    br

block questionFooter
  a(href="dashboard")
    button#backToMenu
      img(src="images/pin.png")
      | Retour Menu