extends layout

block content
  block questionHeader
    block questionFooter

  aside
    p#result
    hr
    p
      span#testStats Note cumulative tests : 0/0
      br
      | Examens pass&#233;s :
      span#examCount 0
      br