extends questionLayout

block questionHeader
  h1 Examen
  article
    span.questionNumber
    br
    span.questionExam #{randomQuestion.question}
    br
    span R&#233;ponses:
    br
     
block questionFooter
  button#forfeitExam
    img(src="images/pin.png")
    | Abandonner
  br
  p#progress Progression : 
    progress(id="examProgress", value="0")
    span(id="progressDisplay")
    br