extends layout

block content
  block questionHeader
    block questionFooter

  aside(ng-controller="QuickTestController")
    p#result
    hr
    p
      span#testStats Note cumulative tests : {{getCorrectAnswers()}}/{{getAnsweredQuestions()}}
      br
      | Examens pass&#233;s :
      span#examCount 0
      br