extends questionLayout

block questionHeader
  div(ng-controller="QuickTestController")
    h1 Test Rapide
    h2 {{randomQuestion.domain}}
    article
      #questionTest {{randomQuestion.question}}
      br
      span R&#233;ponses: 
      br

    form#nextQuestionExam.nextQuestion(ng-submit="submit()")
      div(ng-repeat="answer in randomQuestion.answers")
        div(ng-if="$index === checkedAnswer && $index === correct")
          input(id="{{$index}}", class='answer', type='radio',ng-model='$parent.$parent.selectedAnswer', name ='answer', value="{{$index}}", checked='checked', data-correct='correct')
          span(id="{{$index}}", class="underlineGreen",data="rightAnswer") {{answer}}
          br
        div(ng-if="$index === checkedAnswer && $index !== correct")
          input(id="{{$index}}", class='answer', type='radio',ng-model='$parent.$parent.selectedAnswer', name ='answer', value="{{$index}}", checked='checked', data-correct='incorrect')
          span(id="{{$index}}",class="underlineRed") {{answer}}
          br
        div(ng-if="$index !== checkedAnswer && $index === correct")
          input(id="{{$index}}", class='answer', type='radio',ng-model='$parent.$parent.selectedAnswer', name ='answer', value="{{$index}}", data-correct='incorrect')
          span(id="{{$index}}",class="underlineGreen") {{answer}}
          br
        div(ng-if="$index !== checkedAnswer && $index !== correct")
          input(id="{{$index}}", type='radio',class='answer',ng-model='$parent.$parent.selectedAnswer', name ='answer', value="{{$index}}")
          span(id="{{$index}}") {{answer}}
      br
      button#buttonNext(type="submit")
        img(src="images/pin.png")
        | {{button}}

block questionFooter
  a(href="dashboard")
    button#backToMenu
      img(src="images/pin.png")
      | Retour Menu