extends layout

block content
  h1 Examen termine !
  p#finalResult {{getResultText()}}
  a(href="dashboard")
    button(name="startButton")
      img(src="images/pin.png")
      | Retour au tableau de bord