extends layout

block content
  div(ng-controller='ResultsController')
    h1 Examen termine !
    p#finalResult {{resultText}}
    a(href="dashboard")
      button(name="startButton")
        img(src="images/pin.png")
        | Retour au tableau de bord